In [1]:

import pandas as pd
import matplotlib as plt
import numpy as np
#Converts our user inputs if there are mistakes and finds the closests match in our data
import difflib
#COnverts the text we have into numerical vectors 
from sklearn.feature_extraction.text import TfidfVectorizer
#Find similarity cosine score to find the recommendations
from sklearn.metrics.pairwise import cosine_similarity

Preprocesing of data

In [2]:
#loading data
movies = pd.read_csv("movies.csv")
#movies.head()
#movies.shape

In [3]:
#FInding the columns that are relevant 
#Genre, Keywords(convert from text), (original language)
#cast, directors and taglines
relevant_features = ['genres','keywords','tagline','cast','director']

In [4]:
#replace null values in the columns, go through each column
for f in relevant_features:
    movies[f] = movies[f].fillna('')

In [5]:
#combining all the five selected features
comb_feat = ''
for f in relevant_features:
    comb_feat+=(movies[f]+' ')
comb_feat

0       Action Adventure Fantasy Science Fiction cultu...
1       Adventure Fantasy Action ocean drug abuse exot...
2       Action Adventure Crime spy based on novel secr...
3       Action Crime Drama Thriller dc comics crime fi...
4       Action Adventure Science Fiction based on nove...
                              ...
4798    Action Crime Thriller united states\u2013mexic...
4799    Comedy Romance  A newlywed couple's honeymoon ...
4800    Comedy Drama Romance TV Movie date love at fir...
4801      A New Yorker in Shanghai Daniel Henney Eliza...
4802    Documentary obsession camcorder crush dream gi...
Name: genres, Length: 4803, dtype: object

In [6]:
#convert this ext into numerical feature values
vectorizer = TfidfVectorizer()
features_vects = vectorizer.fit_transform(comb_feat)
features_vects

<4803x17318 sparse matrix of type '<class 'numpy.float64'>'
	with 124266 stored elements in Compressed Sparse Row format>

In [7]:
#gettings the similarity score usign cosine similarity function
#how similar one movies is to all other movies in the dataset
similarity = cosine_similarity(features_vects)
similarity

array([[1.        , 0.07219487, 0.037733  , ..., 0.        , 0.        ,
        0.        ],
       [0.07219487, 1.        , 0.03281499, ..., 0.03575545, 0.        ,
        0.        ],
       [0.037733  , 0.03281499, 1.        , ..., 0.        , 0.05389661,
        0.        ],
       ...,
       [0.        , 0.03575545, 0.        , ..., 1.        , 0.        ,
        0.02651502],
       [0.        , 0.        , 0.05389661, ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.02651502, 0.        ,
        1.        ]])

In [8]:
similarity.shape

(4803, 4803)

In [9]:
#getting input
name = input("What is your favorite movie: ")

In [10]:
#creating a list with all movies in the dataset
list_titles = movies['title'].tolist()
#list_titles

In [11]:
#Find close match
find_close_match = difflib.get_close_matches(name, list_titles)
find_close_match

['Iron Man', 'Iron Man 3', 'Iron Man 2']

In [12]:
#I want to the find teh closest match
closest_match = find_close_match[0]
closest_match

'Iron Man'

In [13]:
#find the index since we need to match the index with our feature dataset
#.values converts series inot numpy array 
movie_index = movies[movies.title == closest_match]['index'].values[0]
movie_index

68

In [14]:
#We have teh indeex, we can go to the feature dataframe find teh corresponsind index and get the similaritry score
#getting list of similar movies
similarity_score = []
c = 0
for i in similarity[movie_index]:
    similarity_score.append((c,i))
    c+=1
#similarity_score

In [15]:
#soritng the movies based on their similarity score in reverse decending
sorted_list =  sorted(similarity_score, key=lambda x: x[1], reverse=True)
#sorted_list

In [16]:
#print the name of similar movies vased on the index
#use the index to find the title

#WE have the sorted list with the index, all we need to do is loop through the similarity list sorted, get the index, match the index with the index in the movies datasdet
names = []
for m in sorted_list:
    #make the index varaible we will use in the regular loop
    index = m[0]
    #Check if that rows index is equal to the one that you ahve, then get the title
    name = movies[movies.index == index]['title'].values[0]
    #print(name)
    names.append(name)
#names

In [17]:
#Now we only lets say want to get the first 15 movies
"Movies For you: "
counter = 0
while counter<15:
    print(names[counter])
    counter+=1

Iron Man
Iron Man 2
Iron Man 3
Avengers: Age of Ultron
The Avengers
Captain America: Civil War
Captain America: The Winter Soldier
Ant-Man
X-Men
Made
X-Men: Apocalypse
X2
The Incredible Hulk
The Helix... Loaded
X-Men: First Class